<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/global.css">
    <title th:text="${#strings.equals(empresa.id, null) ? 'Criar Nova Empresa' : 'Editar Empresa'}">Formulário de Empresa</title>
</head>
<body>
<h1 th:text="${#strings.equals(empresa.id, null) ? 'Criar Nova Empresa' : 'Editar Empresa'}">Formulário de Empresa</h1>
<form th:action="@{${#strings.equals(empresa.id, null) ? '/empresa/create' : '/empresa/update/' + ${empresa.id}}}" th:object="${empresa}" method="post">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" th:field="*{nome}" />
    <br/>
    <label for="endereco">Endereço:</label>
    <input type="text" id="endereco" th:field="*{endereco}" />
    <br/>
    <button type="submit" th:text="${#strings.equals(empresa.id, null) ? 'Criar' : 'Atualizar'}">Salvar</button>
</form>
<a href="/empresas">Voltar</a>
</body>
</html>
