<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/global.css">
    <title>Lista de Transações</title>
</head>
<body>
<h1>Lista de Transações</h1>
<a href="/transacao/create">Adicionar Nova Transação</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Valor</th>
        <th>Data</th>
        <th>Cliente</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transacao : ${transacoes}">
        <td th:text="${transacao.id}"></td>
        <td th:text="${transacao.valor}"></td>
        <td th:text="${transacao.data}"></td>
        <td th:text="${transacao.cliente.nome}"></td>
        <td>
            <a th:href="@{/transacao/{id}(id=${transacao.id})}">Ver</a>
            <a th:href="@{/transacao/edit/{id}(id=${transacao.id})}">Editar</a>
            <a th:href="@{/transacao/delete/{id}(id=${transacao.id})}" onclick="return confirm('Tem certeza que deseja excluir?');">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
